<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS Style -->
    <link rel="stylesheet" href="/public/css/style.css">    
    <script src="/public/papaparse.min.js"></script>    
    <title>Data4Life</title>    
</head>
<body>

    <div class="logo">
        
    </div>

    <div class="main-container">
        
        <form class="contactform">

            {{msg}}

            <span> <p> Name*     </p>    <input      name="name"     type="text" class="contactform-elements" required placeholder="Maximilian Schwarzmuellar" id="name"> </span>
            <span> <p> Phone Number*</p> <input      name="phone"    type="text" class="contactform-elements" required placeholder="+49 178 678 9900" id="phone"> </span>
            <span> <p> Subject* </p>     <input      name="subject"  type="text" class="contactform-elements" required placeholder="Application regarding Web Developer..." id="subject"> </span>            
            <span> <p> Message*</p>      <textarea   name="message"  class="contactform-textarea" required placeholder="Write your message here !" id="message" cols="100" rows="7" ></textarea> </span>
            <span class="file-menu"> 
                <p> Select File </p>    <input      name="emaillist" type="file" id="upload-csv" accept=".csv"> 
            </span>
            
        </form>
        
        <button id="btn-upload-csv" onclick="parsecsv()">Upload</button>
        

    </div>
    <script src="/public/paparse.js"></script>
</body>
</html>